# Environment variables
.env

# Dependencies
.venv/
__pycache__/
*.pyc

# Local outputs (but keep the directories themselves)
storage/processed/*
!storage/processed/.gitkeep
storage/processed/articles/*

storage/raw/*
!storage/raw/.gitkeep

storage/metadata/*
!storage/metadata/.gitkeep

storage/published/*
!storage/published/.gitkeep

storage/logs/*
!storage/logs/.gitkeep

# Ignore logs and zip files
*.log
*.zip
storage/
site/
*.zip
